@define-color foreground #a6acd8;
@define-color background #010101;
@define-color buttonbackground #1d1d1d;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 10px;
}

#workspaces button:hover {
    background-color: @buttonbackground;
}

#wireplumber,
#battery,
#network,
#bluetooth,
#temperature,
#memory,
#cpu,
#tray {
    padding-right: 0.75em;
}