* {
    /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    transition: background-color 0.3s ease-out;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #90ACB2;
    font-family:
        SpaceMono Nerd Font,
        feather;
    transition: background-color 0.5s;
}

.modules-left,
.modules-center,
.modules-right {
    background: rgba(34, 43, 46, 0.548);
    margin: 5px 5px;
    padding: 0;
    border-radius: 100px;
}

.modules-left {
    padding: 0;
}

.modules-center {
    padding: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd,
#mpris {
    padding: 0 10px;
    border-radius: 100px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover,
#mpris:hover {
    background: #3f5155;
}

#workspaces button {
    background: transparent;
    font-family:
        SpaceMono Nerd Font,
        feather;
    font-weight: 900;
    font-size: 13pt;
    color: #90ACB2;
    border: none;
    border-radius: 100px;
}

#workspaces button.active {
    color: #161117;
    background: #90ACB2;
}

#workspaces button:hover {
    background: #3f5155;
    color: #90ACB2;
    box-shadow: none;
}

#custom-arch {
    margin-left: 5px;
    padding: 0 5px;
    font-size: 15px;
}

#mpris {
    padding: 0;
}