/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #17181d60;
    bg1:    #17181d93;
    bg2:    #757994;
    bg3:    #757994;
    fg0:    #c3cafa;
    fg1:    #757994;
    fg2:    #757994;
    fg3:    #757994;
}

@import "template/rounded-template.rasi"
